:host ::ng-deep canvas {
  font-family: 'Arial', sans-serif !important;
  color: #000 !important; /* Texto negro */
}

.chartjs-tooltip {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  font-size: 14px !important;
}