<div class="container">
    <div style="text-align: center; margin: 5%;">
        <h1>Lista de mascotas</h1>
    </div>
    <div></div>
</div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

<!-- Nombre Columna-->
    <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Columna-->
    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

<!-- Raza Columna-->
    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.raza}} </td>
    </ng-container>

    <!-- Edad Columna-->
    <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>

    <!-- Tamaño Columna-->
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Tamanio </th>
        <td mat-cell *matCellDef="let element"> {{element.tamanio}} </td>
    </ng-container>

    <!-- Observaciones Columna-->
    <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Observaciones </th>
        <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>

    <!-- Usuario Columna-->
    <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.user.nombre}} </td>
    </ng-container>

    <!-- Calificacion Columna-->
    <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef> Calificacion </th>
        <td mat-cell *matCellDef="let element"> {{element.calificacion?.calificacion}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>