<div class="container">
  <div style="text-align: center;margin:5%">
    <h1>Lista de Mascotas</h1>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Nombre Columna-->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idMascota}} </td>
      </ng-container>

      <!-- Nombre Columna-->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombremascota}} </td>
      </ng-container>

      <!-- Raza Columna-->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Raza </th>
        <td mat-cell *matCellDef="let element"> {{element.raza}} </td>
      </ng-container>

      <!-- Edad Columna-->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
      </ng-container>

      <!-- Tamaño Columna-->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Tamanio </th>
        <td mat-cell *matCellDef="let element"> {{element.tamanio}} </td>
      </ng-container>

      <!-- Observaciones Columna-->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Observaciones </th>
        <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
      </ng-container>

      <!-- Usuario Columna-->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>

      <!-- Calificacion Columna-->
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef> Calificacion </th>
        <td mat-cell *matCellDef="let element"> {{element.calificacion.calificacion}} </td>
      </ng-container>

      <!-- Update Column -->
      <ng-container matColumnDef="c9">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['ediciones', element.idMascota]">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="c10">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idMascota)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <button mat-raised-button color="primary" (click)="nuevo()">
      <span class="material-icons">add_reaction</span>
      <p>Nueva Mascota</p>
    </button>
    <button mat-raised-button color="primary" (click)="regresar()">
      <span class="material-icons">add_reaction</span>
      <p>Regresar</p>
    </button>
  </div>