<div class="container">
    <h2>Registrar Usuario</h2>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
       <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username1">
                <mat-error *ngIf="form.get('username1')?.hasError('required')">
                El usuario es obligatoria!!
                </mat-error>
            </mat-form-field>
<br> 
        <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password1">
                <mat-error *ngIf="form.get('password1')?.hasError('required')">
                El password es obligatoria!!
                </mat-error>
            </mat-form-field>
<br> 
        <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre1">
                <mat-error *ngIf="form.get('nombre1')?.hasError('required')">
                El nombre es obligatoria!!
                </mat-error>
            </mat-form-field>
<br> 
         <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido1">
                <mat-error *ngIf="form.get('apellido1')?.hasError('required')">
                El apellido es obligatoria!!
                </mat-error>
            </mat-form-field>
<br> 
         <mat-form-field class="example-full-width">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono1">
                <mat-error *ngIf="form.get('telefono1')?.hasError('required')">
                El telefono es obligatoria!!
                </mat-error>
            </mat-form-field>
<br> 
        <div>
            <mat-label>Estado</mat-label>
            <mat-radio-group formControlName="enabled1">
                <mat-radio-button [value]="true">Activo</mat-radio-button>
                <mat-radio-button [value]="false">Inactivo</mat-radio-button>
            </mat-radio-group>
        </div>
<br> 
        <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="ro">
                <mat-option *ngFor="let rol of listarRoles" [value]="rol.id">
                    {{ rol.rol }}
                </mat-option>
            </mat-select>
        </mat-form-field>
<br> 
        <mat-form-field>
            <mat-label>Calificación</mat-label>
            <mat-select formControlName="cali">
                <mat-option *ngFor="let c of listarCalificaciones" [value]="c.id">
                    {{ c.calificacion }}
                </mat-option>
            </mat-select>
        </mat-form-field>
<br> 
        <button mat-raised-button color="primary" type="submit">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
    </form>
</div>