<div class="container">
  <div style="text-align: center; margin:5%">
    <h1>Registro de Contrato</h1>
  </div>

  <div style="text-align: center; margin:5%">
    <form [formGroup]="form" (ngSubmit)="aceptar()">

      <!-- Fecha Inicio -->
      <mat-form-field>
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fecha1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>

      <!-- Fecha Fin -->
      <mat-form-field>
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fecha2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>

      <!-- Monto -->
      <mat-form-field class="example-full-width">
        <mat-label>Monto</mat-label>
        <input matInput type="number" formControlName="monto1">
        <mat-error *ngIf="form.get('monto1')?.hasError('required')">
          El monto es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br>

      <!-- Mascota -->
      <mat-form-field>
        <mat-label>Mascota</mat-label>
        <mat-select formControlName="ma">
          <mat-option *ngFor="let food of listaMascota" [value]="food.idMascota">
            {{ food.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('ma')?.hasError('required')">
          La Mascota es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br>

      <!-- Método de Pago -->
      <mat-form-field>
        <mat-label>Método de Pago</mat-label>
        <mat-select formControlName="me">
          <mat-option *ngFor="let food of listaMetodoPago" [value]="food.idMetodoPago">
            {{ food.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('me')?.hasError('required')">
          El método de pago es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br>

      <!-- Botones -->
      <button mat-raised-button color="primary" type="submit">Registrar</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>

    </form>
  </div>
</div>
