<div class="container">
  <div style="text-align: center;margin:5%">
    <h1>Lista Calificaciones</h1>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idCalificacion}} </td>
      </ng-container>

      <!-- Calificacion Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Calificacion </th>
        <td mat-cell *matCellDef="let element"> {{element.calificacion}} </td>
      </ng-container>

      <!-- Update Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['ediciones', element.idCalificacion]">
            <mat-icon style="color:red">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idCalificacion)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <button mat-raised-button color="primary" (click)="nuevo()">
      <span class="material-icons">add_reaction</span>
      <p>Nueva Calificacion</p>
    </button>
    <button mat-raised-button color="primary" (click)="regresar()">
      <span class="material-icons">add_reaction</span>
      <p>Regresar</p>
    </button>
  </div>
</div>