<div class="container">
    <div>
        <h1>Lista de Enfermedades</h1>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Id Column -->
            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idEnfermedad}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreEnfermedad}} </td>
            </ng-container>

            <!-- Descripcion Column -->
            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcionEnfermedad}} </td>
            </ng-container>

            <!-- Update Column -->
            <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">
                    <button matButton [routerLink]="['ediciones', element.idEnfermedad]">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button matButton (click)="eliminar(element.idEnfermedad)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>
