.title-container {

  text-align: center;

  margin-bottom: 40px; 

  margin-top: 60px; 

 }
.title h1 {
  font-weight: bold;
}

 .title {

  font-family: 'Poppins', sans-serif;

  font-weight: 600;

  font-size: 2em;

  color: #333;

 }

 

 .chart-container {

  width: 40%;

  margin: 0 auto; 

  padding: 9px; 

  box-sizing: border-box;

 }