<mat-toolbar class="custom-toolbar">
    <div>
        <button mat-button [routerLink]="['/home']" style="color: white">
            <mat-icon>home</mat-icon>Inicio
        </button>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="menuCalificaciones" class="btn-rojo" style="color: white">
            <mat-icon>book</mat-icon>
            Calificaciones
        </button>
    </div>


    <div>
        <button mat-button [matMenuTriggerFor]="menuEnfermedades" class="btn-rojo" style="color: white">
            <mat-icon>healing</mat-icon>
            Enfermedades
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="menuClima" class="btn-rojo" style="color: white">
            <mat-icon>ac_unit</mat-icon>
            Clima
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="menuMetodoDePago" class="btn-rojo" style="color: white">
            <mat-icon>money</mat-icon>
            Metodos De Pago
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="menuRol" class="btn-rojo" style="color: white">
            <mat-icon>domain</mat-icon>
            Roles
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="matMenuUsuarios" class="btn-rojo" style="color: white">
            <mat-icon>group</mat-icon>
            Usuarios
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="matMenuMascotas" class="btn-rojo" style="color: white">
            <mat-icon>pets</mat-icon>
            Mascotas
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuGeolocalizacion" class="btn-rojo" style="color: white">
            <mat-icon>my_location</mat-icon>
            Geolocalizacion
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuSolicitud" class="btn-rojo" style="color: white">
            <mat-icon>assignment</mat-icon>
            Solicitud
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuPaseo" class="btn-rojo" style="color: white">
            <mat-icon>map</mat-icon>
            Paseo
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuContrato" class="btn-rojo" style="color: white">
            <mat-icon>description</mat-icon>
            Contrato
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuMascotaEnfermedad" class="btn-rojo" style="color: white">
            <mat-icon>medication</mat-icon>
            MascotaEnfermedad
        </button>
    </div>

    <div>
        <button mat-button [matMenuTriggerFor]="MatmenuReportes" class="btn-rojo" style="color: white">
            <mat-icon>file_copy</mat-icon>
            Reportes
        </button>
    </div>

</mat-toolbar>

<mat-menu #menuCalificaciones="matMenu">
    <button mat-menu-item routerLink="/calificaciones">Listar</button>
    <button mat-menu-item routerLink="/calificaciones/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuEnfermedades="matMenu">
    <button mat-menu-item routerLink="/enfermedades">Listar</button>
    <button mat-menu-item routerLink="/enfermedades/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuClima="matMenu">
    <button mat-menu-item routerLink="/climas">Listar</button>
    <button mat-menu-item routerLink="/climas/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuMetodoDePago="matMenu">
    <button mat-menu-item routerLink="/metodosdepagos">Listar</button>
    <button mat-menu-item routerLink="/metodosdepagos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
    <button mat-menu-item routerLink="/roles">Listar</button>
    <button mat-menu-item routerLink="/roles/nuevo">Registrar</button>
</mat-menu>

<mat-menu #matMenuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios">Listar</button>
    <button mat-menu-item routerLink="/usuarios/nuevo">Registrar</button>
</mat-menu>

<mat-menu #matMenuMascotas="matMenu">
    <button mat-menu-item routerLink="/mascota">Listar</button>
    <button mat-menu-item routerLink="/mascota/nuevo">Registrar</button>
</mat-menu>

<mat-menu #MatmenuGeolocalizacion="matMenu">
    <button mat-menu-item routerLink="/geolocalizacion">Listar</button>
    <button mat-menu-item routerLink="/geolocalizacion/nuevo">Registrar</button>
</mat-menu>

<mat-menu #MatmenuSolicitud="matMenu">
    <button mat-menu-item routerLink="/solicitud">Listar</button>
    <button mat-menu-item routerLink="/solicitud/nuevo">Registrar</button>
</mat-menu>

<mat-menu #MatmenuPaseo="matMenu">
    <button mat-menu-item routerLink="/paseo">Listar</button>
    <button mat-menu-item routerLink="/paseo/nuevo">Registrar</button>
</mat-menu>

<mat-menu #MatmenuContrato="matMenu">
    <button mat-menu-item routerLink="/contrato">Listar</button>
    <button mat-menu-item routerLink="/contrato/nuevo">Registrar</button>
</mat-menu>

<mat-menu #MatmenuMascotaEnfermedad="matMenu">
    <button mat-menu-item routerLink="/mascotaenfermedad">Listar</button>
    <button mat-menu-item routerLink="/mascotaenfermedad/nuevo">Registrar</button>
</mat-menu>
 
<mat-menu #MatmenuReportes="matMenu">
    <button mat-menu-item routerLink="/reports">Mascotas por Dueño</button>
    <button mat-menu-item routerLink="/reports/mascotaconedad10">Mascota mayor de 10 años</button>
    <button mat-menu-item routerLink="/reports/listarCantidadDeUsuariosRegistrados">Cantidad de Usuarios registrados</button>
    <button mat-menu-item routerLink="/reports/buscarmascotaPorEnfermedad">Buscar Mascotas con enfermedad</button>  
</mat-menu>
