<div class="container">
    <div style="text-align: center; margin: 5%">
        <h1>Registro de Rol</h1>
    </div>
    <div style="text-align: center; margin: 5%">
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" />
                <mat-error *ngIf="form.get('codigo')?.hasError('required')">
                    El código es Obligatorio para actualizar!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Nombre del Rol</mat-label>
                <input matInput formControlName="rol1" />
                <mat-error *ngIf="form.get('rol1')?.hasError('required')">
                    El nombre del rol es Obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
            <button matButton="filled">Registrar</button>
            <button matButton="filled" (click)="cancelar()">Cancelar</button>
        </form>
    </div>
</div>