<div class="container">
    <div style="text-align: center; margin:5%">
        <h1>Registro de Solicitud</h1>
    </div>

    <div style="text-align: center; margin:5%">
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field *ngIf="edicion" class="example-full-width">
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
                <mat-error *ngIf="form.get('codigo')?.hasError('required')">
                    El Id es Obligatorio para actualizar!!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="descripcion1">
                <mat-error *ngIf="form.get('descripcion1')?.hasError('required')">
                    La Descripcion es obligatoria!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fecha1">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fecha2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Mascota</mat-label>
                <mat-select formControlName="ma">
                    @for (food of listaMascotas; track food) {
                    <mat-option [value]="food.idMascota">{{food.nombremascota}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('ma')?.hasError('required')">
                    La mascota es obligatoria!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Geolocalizacion</mat-label>
                <mat-select formControlName="ge">
                    @for (food of listaGeolocalizacion; track food) {
                    <mat-option [value]="food.idGeolocalizacion">{{food.latitud}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('ge')?.hasError('required')">
                    La Geolocalizacion es obligatoria!!
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="us">
                    @for (food of listaUsuario; track food) {
                    <mat-option [value]="food.idUsuario">{{food.username}}</mat-option>
                    }
                </mat-select>
                <mat-error *ngIf="form.get('us')?.hasError('required')">
                    El usuario es obligatorio!!
                </mat-error>
            </mat-form-field>
            <br>
            <button matButton="filled">Registrar</button>
            <button matButton="filled" (click)="cancelar()">Cancelar</button>
        </form>
    </div>
</div>