<div class="container">
    <div style="text-align: center; margin: 5%">
        <h1>Registro de Calificacion</h1>
    </div>

    <div style="text-align: center; margin: 5%">
        <form [formGroup]="form" (submit)="aceptar()">
            <mat-form-field *ngIf="edicion" class="example-full-width">
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" />
                <mat-error *ngIf="form.get('codigo')?.hasError('required')">
                    El código es obligatorio para actualizar!!
                </mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Calificación</mat-label>
                <input matInput formControlName="calificacion1" type="number" />

                <mat-error *ngIf="form.get('calificacion1')?.hasError('required')">
                    El número de la calificación es obligatorio!!
                </mat-error>

                <mat-error *ngIf="form.get('calificacion1')?.hasError('min')">
                    La calificación mínima es 1
                </mat-error>

                <mat-error *ngIf="form.get('calificacion1')?.hasError('max')">
                    La calificación máxima es 10
                </mat-error>
            </mat-form-field>
            <br />
            <button matButton="filled">Registrar Calificación</button>
            <button matButton="filled" (click)="cancelar()">Cancelar</button>
        </form>
    </div>
</div>