<section id="services" class="services">
  <h2>Nuestro Servicio</h2>
  <div class="cards">
    <div class="card">
      <img src="assets/dog1.png" alt="Walk" />
      <h3>Paseadores</h3>
      <p>
        Nuestros paseadores estarán disponibles para sacar a tu perro a pasear en los horarios y días que mejor se adapten a tus necesidades y las de tu mascota.
      </p>
      <button>Explora</button>
    </div>
    <div class="card card-invisible">
      <img src="assets/dog2.png" alt="Care" />
      <h3>Cuidadores</h3>
      <p>
        Nuestros cuidadores están capacitados para brindar el mejor cuidado posible a tu mascota mientras estás fuera.
      </p>
      <button>Explora</button>
    </div>
  </div>
</section>